<div class="container"><ul class="list-unstyled list-inline">
  <!-- <li><a href="<%= neighborhoodsPath() %>" class="btn btn-info">Back to all Neighborhoods</a></li> -->
  <!-- <li><a href="<%= editNeighborhoodPath({ neighborhood_id: neighborhood.ID })%>" class="btn btn-warning">Edit</a></li> -->
  <li>
</ul>
<h3>
  <%= neighborhood.Name %>
  <div class="pull-right">
    <a href="<%= neighborhoodsPath() %>" class="btn btn-info">Back to Neighborhoods</a>
    <a href="<%= editNeighborhoodPath({ neighborhood_id: neighborhood.ID })%>" class="btn btn-primary">Edit</a>
    <a href="<%= neighborhoodPath({ neighborhood_id: neighborhood.ID })%>" data-method="DELETE" data-confirm="Are you sure?"
      class="btn btn-danger">Destroy</a>
  </div>
</h3>
<hr />
<strong>
  Description
</strong>
<br />
<%= neighborhood.Description %>
</div>